.cleanAntdTable {
    .ant-table-thead {
      tr {
        * {
          background: theme("colors.neutral.300") !important;
        }
      }
    }
  }

  /* Custom filter button color */
  .ant-table-filter-dropdown-btns {
    .ant-btn-primary {
      background-color: theme("colors.stone.400");
    }
  }

  .cleanAntdExpandableTable {
    .ant-table-row {
      &.ant-table-row-level-0 {
        display: grid;
        grid-template-columns: 50px 1.75fr 2fr 1fr;
      }
    }
  }
