.cleanAntdTabs {
    $table-border: 1px solid theme("colors.neutral.300");

    > .ant-tabs-content-holder {
      padding: 1rem;
    }

    &.ant-tabs-card > .ant-tabs-nav {
      margin: 0;

      .ant-tabs-nav-list {
        flex-grow: 1;

        .ant-tabs-tab {
          width: 100%;
          justify-content: center;
          border: $table-border;
          border-radius: 0;
          border-top: 0;
          margin: 0;
          background-color: theme("colors.neutral.200");
          color: theme("colors.black");
          font-weight: 600;
          letter-spacing: 0.5px;
          text-transform: uppercase;

          &.ant-tabs-tab-active {
            border-bottom-color: theme("colors.white");
            background-color: theme("colors.white");

            .ant-tabs-tab-btn {
              color: theme("colors.black") !important;
            }
          }

          + .ant-tabs-tab {
            border-left: inherit;
            margin-left: unset;
          }

          &:nth-last-child(2).ant-tabs-tab-disabled {
            cursor: default;
          }

          &:not(:nth-last-child(2)) {
            max-width: 300px;
          }

          &:first-child {
            border-left: 0;
          }

          &:nth-last-child(2) {
            border-right: 0;
          }
        }
      }
    }

    &:not(.no-border) {
      > .ant-tabs-content-holder {
        border: $table-border;
        border-top-color: theme("colors.white");
      }

      &.ant-tabs-card > .ant-tabs-nav .ant-tabs-nav-list .ant-tabs-tab {
        border-top: $table-border;

        &:first-child {
          border-left: $table-border;
        }

        &:nth-last-child(2) {
          border-right: $table-border;
        }
      }
    }

    .ant-tabs-nav-wrap {
      background-color: theme("colors.neutral.200");
    }
  }

  .minimalAntdTabs {
    .ant-tabs-tab-btn {
      padding-right: 2em;
      padding-left: 2em;
      font-weight: 600;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: theme("colors.black");
    }

    .ant-tabs-nav {
      width: 100%;
      justify-content: center;

      .ant-tabs-nav-wrap {
        width: 100%;
        justify-content: center;

        > .ant-tabs-nav-list {
          justify-content: space-between;
          width: 100%;
        }
      }

      .ant-tabs-ink-bar {
        height: 4px;
        background-color: theme("colors.black");
      }
    }

    .ant-tabs-tab-active {
      background-color: theme("colors.white");

      .ant-tabs-tab-btn {
        color: theme("colors.black") !important;
      }
    }
  }
