@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
    }
}

body {
  color: theme("colors.7west.secondary.ink");
}

/* Override annoying antd properties with specificity */

/* Ant design icons don't sit properly with tailwind's override */
svg {
  vertical-align: unset;
}

.text-antd-primary-500 {
  &.anticon {
    @apply text-7west-primary-500;
  }
}
